# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env
.env.production
.env.development

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
